@model RestaurantMVCWithEF.Models.RestaurantDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RestaurantDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RestuarantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestuarantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RestuarantID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
