@model IEnumerable<Restaurant.BLL.Models.CuisineBLL>

<p>
    @Html.ActionLink("Insert New Cuisine", "AddCuisine")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CuisineID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CuisineName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CuisineID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CuisineName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCuisineDetails", new { id = item.CuisineID }) |
            <!--*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |-->
            <!--@Html.ActionLink("Delete", "DeleteCui", new { id=item.CuisineID}, new { onclick = "return confirm('Are sure wants to delete?');" })-->
            @Html.ActionLink("Delete", "DeleteCui", new { id = item.CuisineID })
        </td>
    </tr>
}

</table>
