@model IEnumerable<RestaurantMVCWithEF.Models.USPDisplayCustomerDetails>
@{
    ViewBag.Title = "Index";
}

<h2>Customer Details</h2>




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer Details</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button4 {
            border-radius: 9px;
        }

        input[type=text], select {
            width: 60%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <fieldset>
        
        @using (Html.BeginForm("Index", "DisplayCustomerDetails", FormMethod.Post))
        {
        <div align="left">
            @Html.TextBox("FilterBy", "", new { placeholder = "Enter Your Filter By Here...." })
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            @Html.TextBox("OrderBy", "", new { placeholder = "Enter Your OrderBy Here...." })
           
            <input type="submit" class="button button4" value="Search" />
        </div>
           
            <br />
            <br />
            <table align="center" border="1" cellpadding="4" cellspacing="4">
                <tr>
                  
                    <th>CustomerName</th>
                    <th>MobileNo</th>
                    <th>OrderID</th>
                    <th>OrderDate</th>
                    <th>OrderAmount</th>
                    <th>CuisineName</th>
                    <th>ItemName</th>
                    <th>ItemPrice</th>
                    <th>DiningLocation</th>
                </tr>
                @foreach (RestaurantMVCWithEF.Models.USPDisplayCustomerDetails customerDetails in Model)
                {
            <tr>
                <td>@customerDetails.CustomerName</td>
                <td>@customerDetails.MobileNo</td>
                <td>@customerDetails.OrderID</td>
                <td>@customerDetails.OrderDate </td>
                <td>@customerDetails.OrderAmount </td>
                <td>@customerDetails.CuisineName  </td>
                <td>@customerDetails.ItemName</td>
                <td>@customerDetails.ItemPrice</td>
                <td>@customerDetails.DiningLocation</td>
            </tr>

                }
            </table>
        }
    </fieldset>



</body>

</html>


























@*@model IEnumerable<RestaurantMVCWithEF.Models.USPDisplayCustomerDetails>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Customer Details</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuisineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiningLocation)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CuisineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiningLocation)
        </td>
    </tr>
        }

    </table>*@
