@model RestaurantMVCWithEF.Models.Bill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BillAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderInfo.OrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderInfo.OrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantDetail.RestuarantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantDetail.RestuarantName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BillsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
